p {
    /* 真ん中寄せ */
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
        /* 真ん中寄せ */
        display: flex;
        justify-content: center;
        align-items: center;
}
h3{
           /* 真ん中寄せ */
           display: flex;
           justify-content: center;
           align-items: center;
            
}